.footer{
    padding: 100px 0px;
    background-color: #2E2F42;
    &__logo{
        display: block;
        margin-bottom :18px;
        color:#F4F4FD;
    }

    &__text{
        color:#F4F4FD;
    }
}